---
permalink: /404.html
---

<head>
    {% include head.html %}
    <title>Error</title>
</head>

{% include hero.html %}
<br>
<br>
<br>
<div class="main has-text-centered container">
  <br>
  <h1 class="title is-spaced" style="font-size: 76px;">404</h1>
  <p class="subtitle">The requested page could not be found.</p>
  <br>
  <div class="container columns">
    <div class="column"><a href="javascript:history.back()"><i class="fas fa-arrow-left"></i> Go Back</a></div>
    <div class="column"><a href="./index.html"><i class="fas fa-home"></i> Home</a></div>
    <div class="column"><a href="./blog/"><i class="fas fa-blog"></i> Community Blog</a></div>
  </div>
  <br>
</div>

{% include footer.html %}