<footer class="footer has-text-white has-text-centered">
    <div class="container">
        <p>Designed and Built by Samuel Kynaston</p>
        <br>
        <a href="https://github.com/KynnoSoftware/kynno.github.io"><i class="fab fa-github" style="font-size: 24px;"></i></a>
        <br>
        <br>
        <p>© Kynno Group 2020, all rights reserved.</p>
        <p>(Kynno Group LTD is a Registered Company in England and Wales (12409454))</p>
        <br>
        <a href="//www.dmca.com/Protection/Status.aspx?ID=373d8f01-a025-4e25-9672-305d1e0f0017" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=373d8f01-a025-4e25-9672-305d1e0f0017"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
    </div>
</footer>