<head>
    <meta charset="utf-8">

    <!--Embed Content-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Your hub for all things Kynno!">
    <meta name="keywords" content="kynno, Kynno, kynnogroup, KynnoGroup, Samuel, samuel, Community, Technology, community, technology">
    <meta name="theme-color" content="#FF0033">

    <meta property="og:image" content="./sources/images/kynno.png">

    <link rel="shortcut icon" href="./sources/images/favicon.ico">

    <!--Title and Embeds-->
    <link rel="stylesheet" href="./sources/styles/framework.css">
    <script src="./sources/scripts/responsive-nav.js"></script>
    <script src="./sources/scripts/load.js"></script>
    <script src="./sources/scripts/jquery-1.9.1.min.js"></script>
    <script src="https://kit.fontawesome.com/bfadb5e813.js" crossorigin="anonymous"></script>
    
    <script data-ad-client="ca-pub-4934773495862763" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<div class="pageloader is-bottom-to-top is-active is-kynno-gradient">
    <span class="title">
        Loading, please wait...
    </span>
</div>