<html class="has-navbar-fixed-top">
<nav class="navbar is-dark is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" id="branding" href="/"><img src="https://kynno.xyz/sources/images/navlogo.png"></a>
            <span class="navbar-burger burger mobile-nav" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="./staff">
                        <i class="fas fa-users-cog" style="margin-right:7px;"></i> People
                    </a>

                    <div class="navbar-dropdown">
                        <p class="navbar-item">
                            <i class="fas fa-suitcase" style="margin-right:7px;"></i> <b>Leadership</b>
                        </p>
                        <a href="./staff#owners" class="navbar-item">
                            Owners
                        </a>
                        <a href="./staff#managers" class="navbar-item">
                            Managers
                        </a>
                        <hr class="navbar-divider">
                        <p class="navbar-item">
                            <i class="fas fa-handshake" style="margin-right:7px;"></i> <b>Trust & Safety</b>
                        </p>
                        <a href="./staff#administrators" class="navbar-item">
                            Administrators
                        </a>
                        <a href="./staff#moderators" class="navbar-item">
                            Moderators
                        </a>
                        <hr class="navbar-divider">
                        <p class="navbar-item">
                            <i class="fas fa-users" style="margin-right:7px;"></i> <b>Volunteers</b>
                        </p>
                        <a href="./staff#moderators" class="navbar-item">
                            Helpers
                        </a>
                    </div>
                </div>
                <a href="/test-blog.html" class="navbar-item">
                    <i class="fas fa-blog" style="margin-right:7px;"></i> Community Blog
                </a>
                <a href="https://mc.kynno.xyz" class="navbar-item" target="_blank">
                    <i class="fas fa-box" style="margin-right:7px;"></i> Minecraft
                </a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="https://www.kynno.co.uk/">Business Page</a>
                <div class="navbar-item">
                    <a class="button is-primary" href="https://discord.io/kynno"> Join! </a>
                </div>
            </div>
        </div>
    </div>
</div>
</nav>
</html>