---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include head.html %}

        <title>Kynno Community</title>
    </head>
    <body>
        <div class="pageloader">

        </div>    
        {% include hero.html %}
        <section class="hero is-kynno-gradient">
            <div class="hero-body container">
              <div class="container has-text-centered">
                <img src="sources/images/kynno.png" class="logo spin" style="max-height: 200px;">
                <p class="title" style="font-size:50px;">
                    <b>
                        Kynno Community
                    </b>
                </p>
                <br>
                <p class="subtitle"> 
                    "Testing"
                </p>
              </div>
            </div>
        </section>
        <section class="hero is-kynno is-bold">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">

                        <div class="column has-text-centered text-white">
                            <i class="fas fa-envelope" style="font-size: 48px; color:#fff;"></i>
                            <p class="title">Active Chat</p>
                            <p>Despite having around 150 members, we amass 1,000 to 3,000 messages a day! Our many channels are always used!</p>
                        </div>
        
                        <div class="column has-text-centered text-white">
                            <i class="fas fa-user-cog" style="font-size: 48px; color:#fff;"></i>
                            <p class="title">Excellent Staff</p>
                            <p>Our server has some of the best Trust & Safety Staff a server could have! They are both approachable and experienced!</p>
                        </div>
                        
                        <div class="column has-text-centered text-white">
                            <i class="fas fa-globe-europe" style="font-size: 48px; color:#fff;"></i>
                            <p class="title">English-Based Server</p>
                            <p>Our Community is based in the United Kingdom, and is designed for the English-speaking world!</p>
                        </div>
                            
                    </div>

                    <br>

                    <div class="columns">

                        <div class="column has-text-centered text-white">
                            <i class="fas fa-user-friends" style="font-size: 48px; color:#fff;"></i>
                            <p class="title">Amazing Community</p>
                            <p>Our Community is one of the best on Discord! They are willing to help new members, and are approachable! Not only that, they follow the rules and treat others with respect!</p>
                        </div>

                        <div class="column has-text-centered text-white">
                            <i class="fas fa-check" style="font-size: 48px; color:#fff;"></i>
                            <p class="title">Guaranteed Satisfaction</p>
                            <p>We guraantee that you will love being a member of our community! We guarantee that our assignable roles, our community will make you proud to be one of us! (Well, what are you waiting for? Join today!)</p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="hero is-dark">
            <div class="hero-body has-text-centered">
                <b><p>What are you waiting for? Join today!</p></b>
                <br>
                <a class="button is-blue" href="https://discord.io/kynno"> Click me!! </a>
            </div>
        </section>
        {% include footer.html %}
    </body>
</html>