---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include head.html %}

        <title>Kynno Community - Staff</title>
    </head>
    <body>
        {% include hero.html %}
        <section class="main has-text-centered container">
            <div class="box" id="staff">
                    <b><h1 class="title is-spaced"><i class="fas fa-suitcase" style="margin-right:14px;"></i>Leadership</h1></b>
                    <br>
                    <h1 class="title" id="owners">Owners</h1>

                    <div class="columns">
                        <div class="column">
                            <img src="sources/images/staff/samuel.png" class="staff is-owner">
                            <br>
                            <a target="_blank" href="https://twitter.com/samuelkynno">Samuel Kynaston</a>
                            <br>
                            <span class="tag is-owner">
                                Owner
                            </span>
                        </div>
                        <div class="column">
                            <img src="sources/images/staff/tyler.png" class="staff is-owner">
                            <br>
                            <a target="_blank" href="https://twitter.com/TylerTTOS">Tyler</a>
                            <br>
                            <span class="tag is-owner">
                                Server Co-Owner
                            </span>
                        </div>
                    </div>

                    <h1 class="title" id="managers">Managers</h1>
                    <br>

                    <div class="columns">
                        <div class="column">
                            <img src="sources/images/staff/grimmy.png" class="staff is-manager">
                            <br>
                            <a target="_blank" href="https://twitter.com/java2107">Java2107</a>
                            <br>
                            <span class="tag is-manager">
                                Manager
                            </span>
                        </div>
                        <div class="column">
                            <img src="sources/images/staff/calix.png" class="staff is-manager">
                            <br>
                            <a target="_blank" href="https://twitter.com/1ItsDero">Calix</a>
                            <br>
                            <span class="tag is-manager">
                                Manager
                            </span>
                        </div>
                    </div>
                </div>

                <div class="box" id="staff">
                    <b><h1 class="title is-spaced"><i class="fas fa-handshake" style="margin-right:14px;"></i>Trust & Safety</h1></b>
                    <br>

                    <h1 class="title" id="administrators">Administrators</h1>
                    <br>

                    <h1 class="title" id="moderators">Moderators</h1>
                    <br>

                    <div class="columns">
                        <div class="column">
                            <img src="sources/images/staff/anny.png" class="staff is-moderator">
                            <br>
                            <p>Anny</p>
                            <span class="tag is-moderator">
                                Moderator
                            </span>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <img src="sources/images/staff/modefx.jpg" class="staff is-moderator">
                            <br>
                            <p>ModeFX</p>
                            <span class="tag is-moderator">
                                Moderator
                            </span>
                        </div>
                    </div>
                </div>

                <div class="box" id="staff">
                    <b><h1 class="title is-spaced"><i class="fas fa-users" style="margin-right:14px;"></i>Volunteers</h1></b>
                    <br>

                    <h1 class="title" id="administrators">Helpers</h1>
                    <br>
                    <div class="column">
                        <img src="sources/images/staff/juicy.png" class="staff is-moderator">
                        <br>
                        <a target="_blank" href="https://www.youtube.com/channel/UCu50D4_Ajl6R4V4tkNvJUtQ">Juicy</a>
                        <br>
                        <span class="tag is-moderator">
                            Moderator
                        </span>
                    </div>
                </div>
            </div>
        </div>
        </section>
        {% include footer.html %}
    </body>
</html>