---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% include head.html %}

        <title>Kynno Community - Staff</title>
    </head>
    <body>
        {% include hero.html %}
        <section class="main has-text-centered container">
            <h1 class="title is-spaced">Staff</h1>
            <p class="subtitle">Meet the Staff Team!</p>
            <div class="box" id="staff">
                <h1 class="title" id="owners">Owners</h1>
                <div class="columns">
                    <a href="https://twitter.com/samuelkynno" target="_blank" class="column">
                        <img src="sources/images/staff/samuel.png" class="staff is-owner">
                        <br>
                        <p>Samuel Kynno</p>
                        <span class="tag is-owner">
                            Owner
                        </span>
                    </a>
                    <a href="https://twitter.com/SqueezyTheOrca" target="_blank" class="column">
                        <img src="sources/images/staff/squeezy.gif" class="staff is-owner">
                        <br>
                        <p>Squeezy</p>
                        <span class="tag is-owner">
                            Co-Owner
                        </span>
                    </a>
                </div>
                <div class="is-divider" id="managers"></div>
                <h1 class="title">Managers</h1>
                <br>
                <div class="columns">
                    <a href="https://twitter.com/Grimmyxx" target="_blank" class="column">
                        <img src="sources/images/staff/grimmy.png" class="staff is-manager">
                        <br>
                        <p>Grimmy</p>
                        <span class="tag is-manager">
                            Manager
                        </span>
                    </a>
                    <a href="https://twitter.com/TheMooskyFish" target="_blank" class="column">
                        <img src="sources/images/staff/moosky.jpg" class="staff is-manager">
                        <br>
                        <p>Moosky</p>
                        <span class="tag is-manager">
                            Manager
                        </span>
                    </a>
                    <a href="https://twitter.com/wetwelshman" target="_blank" class="column">
                        <img src="sources/images/staff/pikey.png" class="staff is-manager">
                        <br>
                        <p>Pikeyy</p>
                        <span class="tag is-manager">
                            Manager
                        </span>
                    </a>
                    <a href="https://twitter.com/RamisGoals" target="_blank" class="column">
                        <img src="sources/images/staff/no1cash.png" class="staff is-manager">
                        <br>
                        <p>Ram</p>
                        <span class="tag is-manager">
                            Manager
                        </span>
                    </a>
                </div>
                <div class="is-divider" id="administrators"></div>
                <h1 class="title">Administrators</h1>
                <br>
                <div class="columns">
                    <div class="column">
                        <img src="sources/images/staff/bill.png" class="staff is-administrator">
                        <br>
                        <p>Bill</p>
                        <span class="tag is-administrator">
                            Administrator
                        </span>
                    </div>
                    <a href="https://www.youtube.com/channel/UCu50D4_Ajl6R4V4tkNvJUtQ" target="_blank" class="column">
                        <img src="sources/images/staff/juicy.png" class="staff is-administrator">
                        <br>
                        <p>Juicy</p>
                        <span class="tag is-administrator">
                            Administrator
                        </span>
                    </a>
                </div>
                <div class="is-divider" id="moderators"></div>
                <h1 class="title">Moderators</h1>
                <br>
                <div class="columns">
                    <div class="column">
                        <img src="sources/images/staff/anny.png" class="staff is-moderator">
                        <br>
                        <p>Anny</p>
                        <span class="tag is-moderator">
                            Moderator
                        </span>
                    </div>
                    <a href="https://twitter.com/RemIsGoals" target="_blank" class="column">
                        <img src="sources/images/staff/rem.jpg" class="staff is-moderator">
                        <br>
                        <p>Rem</p>
                        <span class="tag is-moderator">
                            Moderator
                        </span>
                    </a>
                </div>
            </div>
        </div>
        </section>
        {% include footer.html %}
    </body>
</html>