@charset "utf-8";


@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$primary: #800080;
$secondary: #2d2dff;
$lblue: #5272ff;

$is-owner: #8d025e;
$is-manager: #9402a6;
$is-administrator: #6ee043;
$is-moderator: #7574f1;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/bulma-divider/src/sass/index.sass';
@import "../../node_modules/bulma-pageloader/src/sass/index.sass";
@import "../../node_modules/bulma-steps/src/sass/index.sass";
@import "../../node_modules/bulma-badge/src/sass/index.sass";
@import "../../node_modules/bulma-pricingtable/src/sass/index.sass";
@import "../../node_modules/darkly/bulmaswatch.scss";

.container.body {
    box-shadow: 0px 0px 16px rgba(10, 10, 10, 0.2);

    text-align:center;

    max-width:90%;

    padding:30px;
}

.hero, .hero .title, .hero .subtitle {
    color: $white;
}

.tag.is-owner {
    background-color: $is-owner;
    color:$white;
}
.tag.is-manager {
    background-color: $is-manager;
    color:$white;
}
.tag.is-administrator {
    background-color: $is-administrator;
    color:$white;
}
.tag.is-moderator {
    background-color: $is-moderator;
    color:$white;
}

.proj.is-owner {
    border-style: solid;
    border-color: $is-owner;
    border-width: 5px;
}

.proj.is-manager {
    border-style: solid;
    border-color: $is-manager;
    border-width: 5px;
}

.proj.is-administrator {
    border-style: solid;
    border-color: $is-administrator;
    border-width: 5px;
}

.proj.is-moderator {
    border-style: solid;
    border-color: $is-moderator;
    border-width: 5px;
}

.column .tag {
    margin-top: .5rem;
}

.hero.is-kynno {
    background-color:$primary;
}

.has-text-centered, .container.has-text-centered {
    text-align:center;
}

@media screen and (max-width:1023px) {
    .navbar-menu {
        background:$grey-dark !important;
        text-align: center;
    }
    .navbar {
        box-shadow:
            0em 0em 0em 0.05em rgba(10, 10, 10, 0), 
            0 0px 0 0px rgba(10, 10, 10, 0.02);
    }
    .navbar .button {
        width:80% !important;
    }
}

section.main {
    padding-top:50px;
}
.navbar {
    top:0;
    width:100%;
    box-shadow:
        0em 0em 0em 0.05em rgba(10, 10, 10, 0), 
        0 0px 0 0px rgba(10, 10, 10, 0.02);
}
.navbar-brand #branding {
    margin:0px !important;
    padding:0px !important;
}
.navbar-item img {
    max-height:4rem;
}
.proj, .spin {
    max-height: 100px;
    border-radius:100%;
    transition:0.8s ease;
}
.proj:hover, .spin:hover {
    transform:rotate(360deg);
}

.logo {
    border-style: solid;
    border-color: #800080;
    border-width: 5px;
    border-radius:100%;
}

.space {
    padding-top:25px;
}

.is-gradient {
    background: linear-gradient(360deg, $primary, $blue);
    background-size: 400% 400%;
    
    -webkit-animation: fade 14s ease infinite;
    -moz-animation: fade 14s ease infinite;
    -o-animation: fade 14s ease infinite;
    animation: fade 14s ease infinite;}
    
    @-webkit-keyframes fade {
        0%{background-position:0% 4%}
        50%{background-position:100% 100%}
        100%{background-position:0% 4%}
    }

    @keyframes fade { 
        0%{background-position:0% 4%}
        50%{background-position:100% 100%}
        100%{background-position:0% 4%}
    }

    .box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child), .subtitle:not(:last-child), .block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .pagination:not(:last-child), .tabs:not(:last-child) {
        margin:0px;
    }